.App {
  padding: 3rem 0;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.profile__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10rem;
  padding: 3rem;
}

.profile__img img {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

.profile__name {
  font-size: 2rem;
  font-weight: 400;
}

.profile__description-header,
.profile__options {
  display: flex;
  gap: 2rem;
}

.profile__options {
  align-items: center;
  justify-content: space-around;
}

.profile__description-cta,
.profile__description-statistics {
  margin-top: 3rem;
}

.profile__description-statistics {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.profile__description-statistics span {
  margin: 0 0.2rem;
}

section {
  margin-top: 5rem;
}

.profile__posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.profile__posts .post {
  width: 100%;
  position: relative;
}

.profile__posts img:hover {
  filter: brightness(50%);
}

.post img:hover + .post__actions {
  display: flex;
}

.post .post__actions {
  position: absolute;
  top: 50%;
  /* right: 5%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  display: none;
}
